<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.todonotesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/todo_notes"
        android:label="@string/app_name"
        android:roundIcon="@drawable/todo_notes"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".camera.CameraActivity">

        </activity>
        <activity android:name=".office_api_mvvm.view.SocialEntryApiActivity">

        </activity>
        <activity android:name=".MvvmNewsRetrofit.ui.NewsActivity" />
        <activity android:name=".MvvmRetrofit.single_movie.SingleMovieActivity" />
        <activity android:name=".activity.anotherExample.OTPActivity" />
        <activity android:name=".activity.anotherExample.Main2Activity" />
        <activity android:name=".activity.anotherExample.TabLayoutActivity" />
        <activity android:name=".activity.anotherExample.NavigationDrawerActivity" />
        <activity android:name=".recyclerView_mvvm_livedata.RecyclerViewMvvmActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <provider
            android:authorities="com.example.todonotesapp.utils.GenericFileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>